button.col-2{
    padding-right: 10px;
}
.col-3, .col-2{
    margin-bottom: 10px;
}
*{
    color: black;
}
.header-absolute{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 10vh;
    background-color: black;
}
.footer-absoulte{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 10vh;
    background-color: red;
}